$br-block: #303030;

.Button {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 40px;
  color: #fff;
  background: $br-block;
  border: 1px solid grey;
  border-radius: 5px;

  &.active {
    background:#74dfb2;
  }
}


