$br-block: #303030;

.AnswerList__block {
  width: 600px;
  padding: 0;  margin: 20px;
  margin-left: 0;
  background: $br-block;
  color: #fff;
  border: 1px solid grey;
  border-radius: 5px;
  list-style: none;
}
