.Header {
  color: #fff;
  font-weight: normal;

  h3 {
    font-weight: normal;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 0;
  }

  &__logo {
    width: 200px;
  }

  &__rounds {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background-color: #15a07d;
    padding: 0px;
    border-radius: 5px;

    li {
      list-style-type: none;
      padding: 7px 25px ;

      &.active {
        background-color: #74dfb2;
      }
    }
  }
}