.Header {
  color: #fff;
}

.Header_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.Logo {
  width: 200px;
}

.Rounds {
  display: flex;
  justify-content: space-between;
  background-color: #008967;
  padding: 0px;
  border-radius: 5px;
}

.Rounds li {
  list-style: none;
  padding: 5px 52px ;

  &:hover {
    background-color: #7fca8b;
  }
}