$br-block: #303030;

.Block_question {
  background: $br-block;
  border-radius: 5px;
  color: #fff;
  display: flex;
}

.Dummy {
  width: 200px;
  height: 155px;
  margin: 15px 50px 15px 30px;
}

.Dummy img {
  height: 100%;
  border-radius: 8px;
}