$br-block: #303030;

.Question {

  &__block{
    background: $br-block;
    border-radius: 5px;
    color: #fff;
    display: flex;
  }

  &__dummy {
    width: 200px;
    height: 155px;
    margin: 15px 50px 15px 30px;

    img {
      height: 100%;
      border-radius: 8px;
    }
  }
}
